<!DOCTYPE html>
<html>
<head>
    <title>Predictive Maintenance</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Predictive Maintenance Model</h2>
        <form method="POST" action="/predict">
            <label>Type:</label>
            <select name="Type">
                <option value="L">L</option>
                <option value="M">M</option>
                <option value="H">H</option>
            </select><br><br>

            <label>Air Temperature [K]:</label>
            <input type="number" step="1" name="Air_temperature"><br><br>

            <label>Process Temperature [K]:</label>
            <input type="number" step="1" name="Process_temperature"><br><br>

            <label>Rotational Speed [rpm]:</label>
            <input type="number" step="1" name="Rotational_speed"><br><br>

            <label>Torque [Nm]:</label>
            <input type="number" step="1" name="Torque"><br><br>

            <label>Tool Wear [min]:</label>
            <input type="number" step="1" name="Tool_wear"><br><br>

            <input type="submit" value="Predict">
        </form>

        {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
        {% endif %}
    </div>
</body>
</html>
